.container{
}
.titulo{
    position: relative;
    display: flex;
    background-color: rgb(225, 225, 223);
    width: 100%;

    text-align: center;

}
#parrafotitulo{
   font-size: large;
   margin-left: 100px;
   margin-right: 100px;
}

#imagenacceso{
    margin-top: 10px;
    margin: .5em;
    width: 100px;
}
@media (max-width: 400px) {
    #parrafotitulo{
        font-size: 0px;
    }
    #imagenacceso{
        visibility: hidden
    }
    .titulo{
        display: none;
    }
    
}